.list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note{
  margin-top: 1rem;
  background-position: center;
  background-size: cover;
  padding: 0.5rem 9rem;
}

.add{
  font-size:large;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0.5rem 9rem;
}

.note__name, .note__description, .note__date{
  background-position: center;
  background-size: cover;
  padding: 0.5rem 9rem;
}

 /* .note__delete-button{
display: flex;
justify-content: flex-end;
}  */
